<?xml version="1.0" encoding="utf-8"?>
<!-- Debug builds may point at a dispenser running on the developer's machine,
     which is plain HTTP over the emulator's 10.0.2.2 loopback. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute" />

</manifest>
